*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  text-align: center;
}

.score-board {
  font-size: 2rem;
}

.user-btns {
  margin-top: 1rem;
}

#game-mssg {
  margin: 2rem auto;
  height: 2rem;
}

#reset-btn {
  margin-top: 4rem;
}
